@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&family=Poppins:wght@400;600;700;800&display=swap');

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

img {
    max-width: 100%;
    height: auto;
}

body {
    font-family: 'Poppins';
    font-style: normal;
    font-size: 16px;
    font-weight: normal;
    color: black;
}

.header {
    top: 0;
    left: 0;
    background-color: #E43071;
}

.header__wrap {
    margin: 0 auto;
    width: 1440px;
    height: 101px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.header__name {
    margin-left: 36px;
    margin-right: 172px;
    display: flex;
    text-align: center;
    font-family: Poppins;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
}

.header__logo1 {
    color: #FFF;
}

.header__logo2 {
    color: #FFC1D8;
}

.header__link {
    margin-right: 76px;
    color: #FFF;
    text-align: center;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 109.5%;
    text-decoration: none;
}

.header__nav {
    display: flex;
    height: 50px;
    align-items: center;
}

.header__search {
    margin-right: 37px;
    color: #FFF;
    text-align: center;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 109.5%;
    text-decoration: none;
    padding-right: 26px;
    background: url(/img/search.svg) no-repeat right;
}

.header__nav-login {
    display: flex;
    width: 166px;
    height: 50px;
    align-items: center;
    justify-content: center;
    background: url(/img/loginback.svg) no-repeat center;

}

.header__login {
    color: #E43071;
    text-align: center;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 109.5%;
}

.main__scroller {
    min-height: 100vh;
    background: url(/img/mainback.jpg) no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    overflow: hidden;
}
.main__scroller:hover >.main__scrollplaceholder{
    bottom: 20px;
    transition: 0.5s;
    opacity: 1;
}

.main__welcome-title {
    color: #FFF;
    text-align: center;
    font-family: Poppins;
    font-size: 70px;
    font-style: normal;
    font-weight: 700;
    line-height: 110%;
    margin-bottom: 8px;
}

.main__welcome {
    margin-top: 322px;
    width: 777px;
    height: 172px;
    text-align: center;

}

.main__benefits {
    height: 68px;
    width: 237px;
    background: url(/img/benefitsback.svg) no-repeat center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    margin-bottom: 156px;
}

.main__benefits-text {
    color: #FFF;
    text-align: center;
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 37px;
}

.main__scrollplaceholder {
    position: absolute;
    left: 50%;
    bottom: -10%;
    transform: translateX(-50%);
    opacity: 0;
    height: 17px;
    width: 97px;
    background: url(/img/scroll.svg) no-repeat center;
}
.faq1{
    height: 733px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.faq1__wrapper{
    display: flex;
    flex-wrap: wrap;
    width: 1159px;
    height: 503px;
}
.faq1__backpick{
    width: 347px;
    height: 399px;
    background: url(/img/faq1_back.jfif) center;
    background-size: cover;
}
.faq1__frontpick{
    width: 241px;
    height: 359px;
    position: relative;
    left: -148px;
    top: 144px;
    background: url(/img/faq1_front.jfif);
    background-size: cover;
}
.faq1__textwrap{
    display: block;
    position: relative;
    left: 40px;
    top: 103px;
    height: 272px;
}
.faq1__header{
    color: #E43071;
    font-family: Poppins;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.faq1__info{
    display: block;
    width: 540px;
    height: 163px;
    color: var(--Grey-Copy, #424242);
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 37px;
}
.faq1__button{
    position: relative;
    top: -25px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 237px;
    height: 68px;
    background: url(/img/faq1_button.svg) no-repeat;
    text-decoration: none;
}
.faq1__button-text{
    color: #E43071;
    text-align: center;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 37px;
}
.scroller2{
    background: url(/img/scroll2back.jpg) no-repeat;
    background-position: 50% 58%;
    background-size: cover;
    height: 700px;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.scroller2__header{
    color: #FFF;
    text-align: center;
    text-shadow: 0px 0px 60px rgba(0, 0, 0, 0.46);
    font-family: Poppins;
    font-size: 60px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.scroller2__info{
    color: #FFF;
    text-align: center;
    text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.50);
    font-family: Open Sans;
    font-size: 17px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.scroller2__button{
    display: flex;
    width: 237px;
    height: 68px;
    text-align: center;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    background: url(/img/benefitsback.svg);
    text-decoration: none;
    position: relative;
    top: 30px;
}
.scroller2__button-text{
    color: #FFF;
    text-align: center;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 37px;
}
.scroller2__placeholder{
    height: 17px;
    width: 97px;
    position: relative;
    top: 220px;
    background: url(/img/scroll.svg) no-repeat center;
}
.facilities{
    height: 788px;
    display: flex;
    justify-content: center;
}
.facilities__wrap{
    overflow: auto;
    position: relative;
    top: 224px;
    width: 1206px;
    height: 435px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.facilities__header{
    margin-top: 97px;
    width: 383px;
    height: 60px;
    color: #E43071;
    font-family: Poppins;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.facilities__text{
    margin-top: 4px;
    width: 489px;
    height: 163px;
    color: #424242;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 37px;
}
.facilities__button{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #E43071;
    text-align: center;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 37px;
    width: 237px;
    height: 68px;
    border-radius: 38.5px;
    border: 2px solid #E43071;
    text-decoration: none;
}
.facilities__picture1{
    position: absolute;
    top: 0;
    left: 634px;
    width: 444px;
    height: 296px;
    background: url(/img/facilitiesTop.png) no-repeat;

}
.facilities__picture2{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 422px;
    height: 281px;
    background: url(/img/facilitiesBot.png);
}
.realstories{
    position: relative;
    height: 900px;
    background: linear-gradient(180deg, #FFF 0%, rgba(255, 255, 255, 0.00) 100%), #F4E3E9;
}
.realstories__title{
    color: var(--Grey-Two, #424242);
    font-family: Poppins;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: 119.2%;
    width: 414px;
    position: absolute;
    top: 126px;
    left: 254px;
}
.realstories__description{
    color: var(--Grey-Two, #424242);
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 313px;
    position: absolute;
    top: 252px;
    left: 254px;
}
.realstories__review1{
    position: absolute;
    top: 306px;
    left: 351px;
    border-radius: 10px;
    background: #FFF;
    box-shadow: 1px 4px 8px 0px rgba(0, 0, 0, 0.18);
    width: 349px;
    height: 445px;
}
.realstories__review2{
    position: absolute;
    top: 165px;
    left: 733px;
    border-radius: 10px;
    background: #FFF;
    box-shadow: 1px 4px 8px 0px rgba(0, 0, 0, 0.18);
    width: 449px;
    height: 343px;
}
.realstories__review3{
    position: absolute;
    top: 541px;
    left: 733px;
    border-radius: 10px;
    background: #FFF;
    box-shadow: 1px 4px 8px 0px rgba(0, 0, 0, 0.18);
    width: 351px;
    height: 278px;
}
.realstories__review-title{
    position: absolute;
    left: 27px;
    color: #E43071;
    font-family: Poppins;
    font-size: 38px;
    font-style: normal;
    font-weight: 600;
    line-height: 119.2%;
}
.realstories__review-ico{
    position: absolute;
    left: 27px;
    display: block;
    width: 29px;
    height: 67px;
    background: url(/img/realstoryico.svg) no-repeat center;
}
.realstories__review-text{
    position: absolute;
    left: 64px;
    top: 108px;
    color: #424242;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
}
.realstories__review-name{
    position: absolute;
    left: 142px;
    color: #424242;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 34px;
}
.realstories__review-description{
    position: absolute;
    left: 142px;
    color: #969BAB;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 34px;
}
.realstories__review-face{
    position: absolute;
    left: 67px;
    display: block;
    width: 59px;
    height: 57px;
    flex-shrink: 0;
    border-radius: 317px;
}
.app{
    height: 491px;
    background-color: #E43071;
}